.pStatus{
    color: yellow;
}

.aStatus{
    color: green;
}

.rStatus{
    color: red;
}

table{
    border: 1px solid black;

    th,td{
        width: 10rem;
        border: 1px solid black;
    }
}

.createBtn{
    width: 7rem;
    float: right;
    background-color: blue;
    color: white;
    font-weight: 700;
}

.actionBtn{
    text-align: center;
}

.deleteBtn{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}